streamlit==1.32.0
pandas>=2.2.0
sqlalchemy>=2.0.28
psycopg2-binary>=2.9.9
transformers>=4.38.2
torch>=2.2.1
bertopic>=0.16.0
pyarmor>=8.0.0
openpyxl>=3.1.2
xlrd>=2.0.1
pymysql>=1.1.0
pymssql>=2.2.11
oracledb>=2.0.0
